# {{ app}} node %i
{% if description %}
description "{{description}}"
{% endif %}

start on (local-filesystems and net-device-up IFACE!=lo)
stop on stopping network-services
respawn
setuid ubuntu
setgid ubuntu
limit nofile 1000000 1000000

script
    cd {{deploydir}}
    {{env}} {{start}} \
    {% if filebeat -%}
    {{args}} {{argv}} 2>&1 | tee logs/{{app}}%i.log | log-ingest
    {% else -%}
    {{args}} {{argv}} >> logs/{{app}}%i.log 2>&1
    {% endif -%}
end script
