# {{ app}} node %i
{% if description %}
description "{{description}}"
{% endif %}

start on started network-services
stop on stopping network-services
respawn
setuid ubuntu
setgid ubuntu
limit nofile 1000000 1000000

limit core unlimited unlimited

script
    cd {{deploydir}}
    {{env}} {{start}} \
    {{args}} {{argv}} >> logs/{{app}}%i.log 2>&1
end script
